* {
    padding: 0;
    margin: 0;
}
html, body ,.app-wrap{
    height: 100%;
}
.clearfix{
    &:after{
        content: '';
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
    }
}
.t-c{
    text-align: center;
}
label{
    font-size: 14px;
}
.el-upload-list--picture-card .el-upload-list__item{
    width: 100px !important;
    height: 100px !important;
}
.el-upload--picture-card{
    width: 100px !important;
    height: 100px !important;
}
@import "./element-variables.scss";
@import "./assets/iconfonts/iconfont.css";