.credit-box-main {
  min-width: 1000px;
  max-width: 1200px;
  margin: 0 auto;
  // .credit-table-hidden {
  //   max-height: 360px;
  //   overflow: auto;
  //   border-bottom: 1px solid #f0f0f0;

  //   &::before {
  //     background-color: transparent;
  //   }
  // }

  .credit-detail-hidden {
    max-height: 340px;
    overflow: auto;
  }

  .credit-table-hidden .is-scrolling-none {
    max-height: 298px !important;
  }

  .credit-detail {
    margin-bottom: -1px;
  }

  // 顶部按钮
  .credit-nav {
    position: relative;
    z-index: 9;

    .credit-down {
      position: absolute;
      right: 0;
    }
  }

  // tab菜单
  .credit-affix {
    width: 1040px;
    padding-bottom: 16px;
    z-index: 1100;
    background-color: #fff;

    //&.affix.vue {
    //  top: 0 !important;
    //}
  }

  .credit-content {
    min-height: 660px;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.05);
  }

  .credit-report-title {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-top: 32px;
    line-height: 1;
    padding-left: 18px;
  
    span {
      color: #a0a0a0;
      font-size: 12px;
      font-weight: normal;
      margin-left: 20px;
    }
  
    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: #c7a47b;
      left: 4px;
      bottom: 5px;
    }
  }

  .credit-report-loading {
    .el-loading-spinner {
      top: 300px;
    }
  }

  .credit-report {
    padding: 40px 80px 80px 80px;

    .credit-main {
      padding-top: 174px;
    }

    .credit-report-cnt__title {
      float: left;
      font-size: 22px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 10px;
      margin-top: 12px;
    }
    
    .credit-report-cnt__tag {
      float: left;
    }
    
    .credit-report-cnt__tag li {
      display: inline-block;
      margin-left: 10px;
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 1px;
      padding-bottom: 1px;
      font-size: 12px;
      color: #c7a47b;
      box-sizing: border-box;
      border: 1px solid #c7a47b;
      white-space: nowrap;
    }
    
    .credit-report-cell {
      margin-top: 20px;
    }
    
    .credit-report-lable {
      font-size: 13px;
      color: #888;
    }
    
    .credit-report-info {
      font-size: 13px;
      color: #333;
    }
  }

  // 定制table页面
  .credit-detail-table {
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.5;

    .credit-list-table__btn {
      cursor: pointer;
    }

    &.credit-detail-top {
      margin-top: -11px;
    }

    tr:hover > td {
      background-color: transparent;
    }

    td, th {
      padding: 8px 0;
    }
  }

  .credit-table-cell {
    text-align: center;
    background-color: #f5f7fa !important;
  }

  .credit-dialog-cell {
    background-color: #f5f7fa !important;
  }

  .credit-list-table {
    .credit-detail-name {
      padding-left: 20px;
    }

    th {
      background-color: #f5f7fa;
      color: #475262;
    }
    
    @extend .credit-detail-table
  }

  .credit-table-cell__label {
    color: #aaa;
  }

  .credit-table-cell__a {
    color: #0063d3;
  }

  .credit-color__blue {
    color: #0063d3;
  }

  .credit-color__orange {
    color: #f48031;
  }

  .credit-color__red {
    color: #ff5151;
  }

  .credit-color__green {
    color: #00a280;
  }

  // 关系链
  .credit-chain-ov {
    max-height: 160px;
    overflow: auto;
  }
  
  .credit-chain {
    .credit-chain__title {
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
    }

    .credit-chain__name {
      @extend .credit-color__blue
    }

    .credit-chain__list {
      display: inline-block;
    }

    .credit-chain__arrow {
      position: relative;
      display: inline-block;
      top: -9px;
      font-size: 12px;
      line-height: 1.4;
      border-bottom: 1px solid #bbb;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 6px;
      margin-right: 10px;
      margin-bottom: 10px;

      .credit-chain__arrow--icon {
        position: absolute;
        right: -4px;
        bottom: -4px;
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-left: 6px solid #bbb;
        border-bottom: 4px solid transparent;
      }

      @extend .credit-color__green
    }
  }

  .credit-nodata {
    text-align: center;
    color: #999;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 24px;
  }

  .credit-clearfix::before,
  .credit-clearfix::after {
    content: '';
    display: table;
  }

  .credit-clearfix::after {
    clear: both;
  }

  .credit-pl {
    float: left;
  }

  .credit-pr {
    float: left;
  }
}
